:root{
    --bg-color: aliceblue;
}
/* css reset from meyerweb */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* My style */
#wrapper{
    background-color: whitesmoke;
    height: 100dvh;
}
nav{
    display: flex;
    border: .1rem solid red;
    justify-content: space-between;
    height: 8dvh;
    align-items: center;
    box-shadow: .1rem .1rem grey;
    background-color: var(--bg-color);
    margin-bottom: .5rem;
}
nav>h3{
    color: purple;
}
nav>div>a{
    text-decoration: none;
    color: blue;
}
form{
    border: .2rem solid grey;
    width: 30%;
    margin: 0 auto;
    background-color: var(--bg-color);
    padding: 2rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 70dvh;
}
.fullname{
    margin-top: 20px;
}
.email{
    margin-top: 20px;
}
.password{
    margin-top: 20px;
}
.dob{
    margin-top: 20px;
}
.paragraph{
    margin-top: 20px;
}
form>button{
    border: 2rem solid blue;
    background-color: blue;
    color: white;
    width: 28rem;
    height: 5dvh;
    border-radius: 5rem;
    margin-top: 90px;
    margin-left: 25px;
    align-items: last baseline;

}
input[type = "text"],input[type = "email"],input[type = "password"]{
    height: 5vh;
}